*{padding:0;
margin:0;
font-family:sans-serif;
font-weight:lighter;
line-height: 1.5;
font-size:10pt;
color:gray;
overflow-x:hidden;
}
header{
	width:100%;
	border-bottom:1px solid lightgray;
	padding-left:50px;
}
header p{padding-top:3px;}
.logo{
width:100%;
animation-name:load;
animation-duration: 5s;
}
.logopic{width:30%;
margin:0% 35% 0% 35%;}
@keyframes load{
	from{opacity: 0;}
	to{opacity: 1;}
}
.logopic:hover{cursor:pointer;}
.top-buttons{float:right;
	padding-right:40px;
}
.button1{border:0;
	background:none;
	color:gray;
	margin-top:10px;
	font-size:12pt;
	padding-right:30px;
	text-transform: uppercase;
}
.button1:hover{color:black;cursor:pointer;} 
.nav{display:none;}
#hamburgerMenu{animation-name:LoadMenu;
animation-duration:2s;}
@keyframes LoadMenu{
	from{opacity:0;}
	to{opacity:1;}
}
.menu{
	width:80%;
	margin:0% 10% 0% 10%;
	border-bottom: 1px solid lightgray;
}
ul{padding-left:0;}
ul ul{padding-left:0px;
position:absolute; }
ul li{
	text-decoration: none;
	background:white;
	list-style: none;
	text-align: center;
	display: inline-block;
	width:19%;
	font-size:12pt;
	font-weight:lighter;
	font-family: sans-serif;
	text-transform: uppercase;
}
a{text-decoration: none;}

ul li ul li{line-height: 1.6;
padding:10px;
width:170px;
display:none;
text-align: center;
opacity: 0.6;
text-decoration: none;
color:black;
}
ul li a{color:gray;}
ul li ul li a{color:gray;}
ul li a:hover{text-decoration: none;}
ul li ul li a:hover{text-decoration: none;}
li:hover{color:black;cursor:pointer;}
ul li ul li:hover{
	color:black;
	opacity: 1;
cursor:pointer;}
ul li:hover ul li {
	display:block;
	cursor:pointer;
	animation-duration: 1s;
	animation-name:myAnimation;}
@keyframes myAnimation{
	from{opacity: 0;}
	to{opacity:0.5;}
}
footer{width:100%;
border-top:1px solid lightgray;
margin-top:50px;}
#banner{width:100%;
margin-top:30px;
overflow-y: hidden;
}
aside{
width:25%;
float:left;
margin-left:5%;}
.image1{
	width:100%;
border-top:1px solid lightgray;
border-bottom:1px solid lightgray;}
.image2{width:100%;}

#gallery{
width:70%;
margin:0 15%;
}
.container{width:100%;}
.products{
display:inline-block;
padding-left:45px;
width:20%;}
.images{width:100%;}
h4{font-size:10pt;
	font-weight:lighter;
	font-family: sans-serif;
	text-transform: uppercase;
	text-align: center;}
p{text-align: center;}
footer{width:100%;}
footer h5 {text-align: center;}

@media(max-width:460px){
	.menu{display:none;}
	.top-buttons{
	float:none;
	margin-left:40%;}
	.action{margin-left:30%;}
	.button1{margin:0;padding-right:40px;}
	.logopic{width:80%;margin:0% 10% 0% 10%;}
.nav{display:block;}
label{
	font-size:30px;
	margin-left:30px;
	cursor:pointer;
}
#hamburgerMenu{
width:70%;
display:none;
margin-left:20px;}
#hamburgerMenu ol{width:auto;padding-left:20px;}
#hamburgerMenu ul li{
	text-align:left;
	width:180px;
border-bottom:1px solid lightgray;
padding:5px 5px 5px 5px;}
#hamburgerMenu ul li ul li{
	margin-left:20px; 
	background:0;
	display:block;
	border:0;}
#toggle{display:none;}
#toggle:checked + #hamburgerMenu{display:block;}
#banner{width:100%;margin:0;}
aside{width:100%;margin:0;}
.image1{width:50%;margin:0 25%;}
.image2{width:80%;margin:0 10%;}
#gallery{width:100%;margin:0;}
.container{width:90%; margin:0 5%;}
.products{width:30%;}
.images{width:100%;}
}
