*{padding:0;
margin:0;
font-family:sans-serif;
font-weight:lighter;
line-height: 1.5;
font-size:10pt;
color:gray;
overflow-x:hidden;
}
header{
	width:100%;
	border-bottom:1px solid lightgray;
	padding-left:50px;
}
header p{padding-top:3px;}
.logo{
width:100%;
animation-name:load;
animation-duration: 5s ;
}
.logopic{width:30%;
margin:0% 35% 0% 35%;}

@keyframes load{
	from{opacity: 0;}
	to{opacity: 1;}
}
.logopic:hover{cursor:pointer;}
.top-buttons{float:right;
	padding-right:40px;
}
.nav{display:none;}
#hamburgerMenu{animation-name:LoadMenu;
animation-duration:2s;}
@keyframes LoadMenu{
	from{opacity:0;}
	to{opacity:1;}
}
.button1{border:0;
	background:none;
	color:gray;
	margin-top:10px;
	font-size:12pt;
	padding-right:30px;
	text-transform: uppercase;
}
.button1:hover{color:black;cursor:pointer;} 


.menu{
	width:80%;
	margin:0% 10% 0% 10%;
	border-bottom: 1px solid lightgray;
}
ul{padding-left:0;}
ul ul{padding-left:0px;position:absolute;}
ul li{
	text-decoration: none;
	background:white;
	list-style: none;
	text-align: center;
	display: inline-block;
	width:19%;
	font-size:12pt;
	font-weight:lighter;
	font-family: sans-serif;
	text-transform: uppercase;
}
a{text-decoration: none;}

ul li ul li{line-height: 1.6;
padding:10px;
width:170px;
display:none;
text-align: center;
opacity: 0.6;
text-decoration: none;
color:black;
}
ul li a{color:gray;}
ul li ul li a{color:gray;}
ul li a:hover{text-decoration: none;}
ul li ul li a:hover{text-decoration: none;}
li:hover{color:black;cursor:pointer;}
ul li ul li:hover{
	color:black;
	opacity: 1;
cursor:pointer;}
ul li:hover ul li {
	display:block;
	cursor:pointer;
	animation-duration: 1s;
	animation-name:myAnimation;
}
@keyframes myAnimation{
	from{opacity: 0;}
	to{opacity:0.5;}
}
#banner{width:100%;
height:200px;
display: inline-block;
overflow-y: hidden;}
.guarantee{
float:right;	
width:30%;
height: 200px;
background:#1e1e1e;}

.guarantee p{margin-top:40px;
margin-left:120px;
font-size:14pt;
line-height: 1.6;
text-transform: uppercase;
border-bottom:1px solid gray;
padding-bottom: 10px;}
aside{width:20%;
	margin-top:100px;
display: inline-block;
float:left;}
#container{
width:75%;
margin:5% auto;
float:right;
}
.gallery{width:100%;
}
.gallery-items{
	padding-left:100px;
	padding-bottom:50px;
	display:inline-block;}
.images{padding-bottom: 20px;
	margin-left: 30px;
	border-bottom:1px solid lightgray;
	}
.gallery-items p {text-align: center;}
h6{text-align:center;
font-weight: lighter;}
footer{width:100%;
border-top:1px solid lightgray;}
h5{text-align: center;
margin:0;
padding:0;}
.buttons{width:100%;
height:auto;
margin-bottom:50px;}
.button2{
	margin-left:45%;
	text-transform: uppercase;
	padding:10px 20px 10px 20px;
	border:1px solid gray;
	color:gray;
	background:0;}
.button3{
	margin-left:40px;
	text-transform: uppercase;
	padding:10px 20px 10px 20px;
	border:1px solid gray;
	color:gray;
	background:0;}
footer{
width:100%;
border-top:1px solid lightgray;
}
h5{
text-align: center;
margin:0;
padding:0;
}


@media(max-width:460px){
	.menu{display:none;}
	.top-buttons{
	float:none;
	margin-left:40%;}
	.action{margin-left:30%;}
	.button1{margin:0;padding-right:40px;}
	.logopic{width:80%;margin:0% 10% 0% 10%;}
.nav{display:block;}
label{
	font-size:30px;
	margin-left:30px;
	cursor:pointer;
}
#hamburgerMenu{
width:70%;
display:none;
margin-left:20px;}
#hamburgerMenu ol{width:auto;padding-left:20px;}
#hamburgerMenu ul li{
	text-align:left;
	width:180px;
border-bottom:1px solid lightgray;
padding:5px 5px 5px 5px;}
#hamburgerMenu ul li ul li{
	margin-left:20px; 
	background:0;
	display:block;
	border:0;}
#toggle{display:none;}
#toggle:checked + #hamburgerMenu{display:block;}
#banner{width:100%;}
.image{width:100%;}
.guarantee{width:100%;margin:0;float:none;margin-top:5%;}
.guarantee p{font-size:8pt;padding:0;margin:0;text-align:center;border-bottom:2px solid;}
aside{width:80%;margin:0 10%;}
#container{width:100%;margin-top:5%;}
#gallery{width:100%;margin:0;}
.gallery-items{
width:25%;padding:0;margin-left:15%;
display:inline-block;
border-bottom:1px solid lightgray;padding-bottom:10px;}
.images{width:100%;margin-left:5%;}
p{padding-left:0;}
.buttons{width:90%;margin:0 5%;}
.button2{margin:0;padding:5px;}
.button3{margin-left:5%;padding:5px;}

}
@media (min-width:461px){
	#banner{width:90%;margin:0 5%;}
.image{width:100%;}
	.guarantee{display:none;}
}